<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<appSettings>
    <add key="EAuthCertificateStoreName" value="My" />
    <add key="EAuthCertificateStoreLocation" value="LocalMachine" />
    <add key="EAuthCertificateX509FindType" value="FindByThumbprint" />
    <add key="EAuthCertificateFindValue" value="C9C0FEB532740F8C0CE893F24C81EB12483E484B" />

    <add key="SystemProviderOID" value="2.16.100.1.1.31.1.2" />
    <add key="RequestServiceOID" value="2.16.100.1.1.34.1.2.1.1.1" />
    <add key="CallbackPath" value="/EAuthAuthenticate" />
    <add key="InformationSystemName" value="ЕСТИ" />
    <add key="RedirectConsumerServiceURL" value="https://localhost:44354/EAuthAuthenticate" />
    -->
	<!--add key="RedirectErrorURL" value="~/External/Error"/-->
	<!--
    <add key="HostedBehindLoadBalancer" value="false" />
    <add key="IsDevelopmentInstance" value="true" />
    
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ComponentModel.Composition"
              switchValue="All">
        <listeners>
          <add name="fileListener"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="composition.log" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>-->
</configuration>