.errorsLabel {
  font-size: 12px;
  font-family: 'Titillium Web', sans-serif;
}
.oid-button {
  margin: 2px;
  margin-right: 0px;
  height: 30px;

}
.buttons-wrapper {
  padding-top: 0px;
  padding-left: 18px;
}
.elements-wrapper {
  height: 100%;
  margin-bottom: 10px;
}
