<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EGovermentWSServiceImplServiceSoapBinding" />
                <binding name="genWSSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.252.10.26:9010/eg/bc/service/" binding="basicHttpBinding"
                bindingConfiguration="EGovermentWSServiceImplServiceSoapBinding"
                contract="MVRERChServiceReference.IntSyncPortType" name="EGovermentWSServiceImplPort" />
            <endpoint address="http://ws2016kapsht:9036/services/regix" binding="basicHttpBinding"
                bindingConfiguration="genWSSoapBinding" contract="MVRERChv2ServiceReference.IntSyncPortType"
                name="genWSImplPort" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
