<tl-wrapping-card
  [fabAction]="routes.ADMINISTRATION_NEW"
  [title]="routes.ADMINISTRATIONS.title"
  [icon]="routes.ADMINISTRATIONS.icon"
  [subTitle]="this.showingPrimary() ? 'Първични администратори на данни' : ''"
  [actions]="[
    {
      reference: this.routes.AUDIT,
      args: { ':TABLE_NAME': this.ADMINISTRATIONS }
    },
    { reference: excelExportAll }
  ]"
>
  <tl-linear-progress
    [visible]="this.remoteService.isLoading"
  ></tl-linear-progress>
  <igx-grid
    #grid
    [data]="items$ | async"
    [paging]="true"
    [height]="null"
    width="100%"
    [clipboardOptions]="{ copyHeaders: false}"
    [displayDensity]="'cosy'"
    (onSortingDone)="sortingDone($event)"
    (onFilteringDone)="filteringDone($event)"
    (onSelection)="cellSelection($event)"
    [paginationTemplate]="pager"
    [allowFiltering]="true"
    [primaryKey]="'id'"
  >
    <igx-column
      field="name"
      header="Име"
      [sortable]="true"
      [dataType]="'string'"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value" class="text-ellipsis">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column
      field="acronym"
      header="Акроним"
      width="15%"
      [sortable]="true"
      [dataType]="'string'"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value" class="text-ellipsis">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column
      field="code"
      header="Код"
      width="15%"
      [sortable]="true"
      [dataType]="'string'"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value" class="text-ellipsis">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column
      field="administrationType"
      header="Тип"
      title="test"
      width="15%"
      [sortable]="true"
      [dataType]="'string'"
      [formatter]="displayValueService.formatDisplayValue"
      [filters]="displayValueFilteringOperand"
    >
    </igx-column>

    <igx-column
      header="Действия"
      [sortable]="false"
      width="170px"
      [filterable]="false"
    >
      <ng-template igxCell let-cell="cell">
        <div
          igxLayout
          igxLayoutDir="row"
          igxLayoutJustify="center"
          class="action-buttons-wrapper"
        >
          <tl-reference-button
            [routeReference]="this.routes.ADMINISTRATION_SHOW"
            [routeArguments]="{ ':ID': cell.rowData.id }"
            buttonType="action-button"
          >
          </tl-reference-button>
          <tl-reference-button
            *ngIf="showingPrimary()"
            [routeReference]="this.routes.REGISTRIES"
            [routeArguments]="{ ':ADM_ID': cell.rowData.id }"
            buttonType="action-button"
          >
          </tl-reference-button>
          <tl-reference-button
            *ngIf="!showingPrimary()"
            [routeReference]="this.routes.CONSUMERS"
            [routeArguments]="{ ':ADM_ID': cell.rowData.id }"
            buttonType="action-button"
          >
          </tl-reference-button>
          <button
            type="button"
            [igxToggleAction]="showDropdown"
            [igxDropDownItemNavigation]="showDropdown"
            [overlaySettings]="menuOverlaySettings"
            type="button"
            title="Още"
            igxButton="icon"
            class="table-action-button"
          >
            <igx-icon>more_vert</igx-icon>
          </button>
          <igx-drop-down
            #showDropdown
            (onSelection)="onShowMenuSelected($event)"
            [width]="'170px'"
          >
            <tl-reference-button
              *ngIf="showingPrimary()"
              [routeReference]="this.routes.CONSUMERS"
              [routeArguments]="{ ':ADM_ID': cell.rowData.id }"
              buttonType="drop-down"
            >
            </tl-reference-button>
            <tl-reference-button
              [routeReference]="this.routes.USERS"
              [routeArguments]="{ ':ADM_ID': cell.rowData.id }"
              buttonType="drop-down"
              title="Администратори"
            >
            </tl-reference-button>
            <tl-reference-button
              [routeReference]="this.routes.INTERFACES"
              [routeArguments]="{ ':ADM_ID': cell.rowData.id }"
              buttonType="drop-down"
            >
            </tl-reference-button>
            <tl-reference-button
              *ngIf="!showingPrimary()"
              [routeReference]="this.routes.REGISTRIES"
              [routeArguments]="{ ':ADM_ID': cell.rowData.id }"
              buttonType="drop-down"
            >
            </tl-reference-button>
          </igx-drop-down>
          <tl-reference-button
            [routeReference]="this.routes.ADMINISTRATION_EDIT"
            [routeArguments]="{ ':ID': cell.rowData.id }"
            buttonType="action-button"
          >
          </tl-reference-button>
          <ng-template [ngxPermissionsOnly]="globalAdmin">
            <button
              type="button"
              title="Изтрий"
              igxButton="icon"
              class="table-action-button"
              (click)="prepareForDelete(cell.rowData)"
              *ngIf="!showingPrimary()"
            >
              <igx-icon>delete</igx-icon>
            </button>
          </ng-template>
        </div>
      </ng-template>
    </igx-column>

    <ng-template #pager let-grid>
      <div class="tl-paginator">
        <tl-grid-pager
          [page]="remoteService.pagerParams.page"
          [perPage]="remoteService.pagerParams.perPage"
          [totalCount]="remoteService.pagerParams.totalCount"
          (pagerChange)="pagerChange($event)"
        ></tl-grid-pager>
      </div>
    </ng-template>
  </igx-grid>
</tl-wrapping-card>
<igx-dialog
  #dialog
  title="Изтриване на администрация?"
  message="Сигурни ли сте, че искате да изтриете избраната администрация?"
>
  <div igxDialogActions class="dialog-container dialog-actions">
    <button igxButton (click)="onDeleteCanceled()">НЕ</button>
    <button igxButton="raised" (click)="onDeleteConfirmed()">ДА</button>
  </div>
</igx-dialog>
