.home-wrapper {
  width: 100%;
  padding-top: 1rem;
  padding-right: 1rem;
}
.chip-wrapper{
  padding: 0.5rem;
}

igx-chip {
  margin-top: 0.4rem;
  margin-right: 0.4rem;
}
tl-card{
  margin-bottom: 1rem;
  margin-left: 1rem;
  max-width: 30rem;
  // display: flex;
}
