<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CheckServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://IDN-ILGEORGIEV:8080/NelkServices/CheckService"
                binding="basicHttpBinding" bindingConfiguration="CheckServiceSoapBinding"
                contract="NelkServiceReference.CheckService" name="CheckServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>