.report-content-wrapper {
    width: 100%;
    padding: 20px;
  }
  .form-wrapper {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #c1c1c1;
  }
  .buttons-wrapper {
    padding: 0.5rem;
  }
  h6 {
    margin-bottom: 10px;
  }
