@tl:registry=http://tfstl:8080/tfs/DefaultCollection/_packaging/TechnoLogica.Common/npm/registry/
@tl-rgx:registry=http://tfstl:8080/tfs/DefaultCollection/_packaging/RegiX1/npm/registry/
@infragistics:registry=https://packages.infragistics.com/npm/js-licensed/
registry=https://registry.npmjs.com/
always-auth=true
; begin auth token
//tfstl:8080/tfs/DefaultCollection/_packaging/TechnoLogica.Common/npm/registry/:_authToken=REGIX_PAT
//tfstl:8080/tfs/DefaultCollection/_packaging/TechnoLogica.Common/npm/:_authToken=REGIX_PAT

//tfstl:8080/tfs/DefaultCollection/_packaging/RegiX1/npm/registry/:_authToken=REGIX_PAT
//tfstl:8080/tfs/DefaultCollection/_packaging/RegiX1/npm/:_authToken=REGIX_PAT

//packages.infragistics.com/npm/js-licensed/:_auth=INFRAGISTICS_PAT
//packages.infragistics.com/npm/js-licensed/:username=isimeon
//packages.infragistics.com/npm/js-licensed/:always-auth=true
; end auth token
