<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MROBAServiceImplPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="MROBAServiceImplPortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://source.gravis.bg:443/egov/services/mro-ba"
                binding="basicHttpBinding" bindingConfiguration="MROBAServiceImplPortBinding"
                contract="MROBatteriesServiceReference.MROBAService" name="MROBAServiceImplPort" />
    </client>
  </system.serviceModel>
</configuration>