<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DataWSDLBinding" />
                <binding name="DataWSDLBinding1" />
                <binding name="DataWSDLBinding2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://is.navet.government.bg/ws/egov/index.php"
                binding="basicHttpBinding" bindingConfiguration="DataWSDLBinding1"
                contract="NSDServiceReference.Data" name="DataWSDLPort" />
            <endpoint address="http://is.navet.government.bg/ws/egov/index.php"
                binding="basicHttpBinding" bindingConfiguration="DataWSDLBinding2"
                contract="ServiceRefForMethod2.Data" name="DataWSDLPort1" />
        </client>
    </system.serviceModel>
</configuration>