<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DocumentWebServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.254.130.25:7003/KAT/services/documentsInfo"
                binding="basicHttpBinding" bindingConfiguration="DocumentWebServiceServiceSoapBinding"
                contract="MVRANDServiceReference.DocumentWebService" name="DocumentWebServicePort" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
