<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="CertificateFindValue" value="054FD12C0B1CCCD9897E0F9DBD6AB88607448709" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="CertificateStoreName" value="My" />
    <add key="CertificateX509FindType" value="FindByThumbprint" />
    <add key="SignResponse" value="true" />
  </appSettings>
</configuration>