<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="REG35ServiceImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="REG35ServiceImplPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://source.gravis.bg:443/egov/services/reg35-stages"
                binding="basicHttpBinding" bindingConfiguration="REG35ServiceImplPortBinding"
                contract="REG35ServiceReference.REG35Service" name="REG35ServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>