
.form-wrapper {
  padding: 1rem
}
.form-content{
  padding: 1rem
}

.basic-attributes-wrapper {
  width: 100%;
  margin-bottom: -0.7rem;
}
.basic-attribute {
  font-size: 12px;
  line-height: 12px;
}
.alert-danger {
  margin-bottom: 20px;
}
.buttons-wrapper{
  padding-bottom: 0.5rem;
}
