<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="DefaultBehaviour">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
                    <!--Forbid metadata discovery-->
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="True" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="DefaultEndpointBehaviour">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
                </behavior>
                <behavior name="RestEndpointBehavior">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultBinding"
                         closeTimeout="00:01:00"
                         openTimeout="00:01:00"
                         receiveTimeout="00:10:00"
                         sendTimeout="00:10:00"
                         transferMode="StreamedResponse"
                         maxReceivedMessageSize="26214400"
                         maxBufferSize="26214400">
                    <readerQuotas maxDepth="256"
                                  maxStringContentLength="2147483647"
                                  maxArrayLength="2147483647"
                                  maxBytesPerRead="2147483647"
                                  maxNameTableCharCount="2147483647"/>
                </binding>
				<binding name="TraderBrokerServiceImplPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="TraderBrokerServiceImplPortBinding1" />
            </basicHttpBinding>
            <webHttpBinding>
                <binding name="WebHttpBindingConfiguration"
                         closeTimeout="00:01:00"
                         openTimeout="00:01:00"
                         receiveTimeout="00:10:00"
                         sendTimeout="00:10:00"
                         transferMode="StreamedResponse"
                         maxReceivedMessageSize="26214400"
                         maxBufferSize="26214400">
                    <readerQuotas maxDepth="256"
                                  maxStringContentLength="2147483647"
                                  maxArrayLength="2147483647"
                                  maxBytesPerRead="2147483647"
                                  maxNameTableCharCount="2147483647"/>
                </binding>
            </webHttpBinding>
        </bindings>
		<client>
            <endpoint address="https://source.gravis.bg:443/egov/services/trader-broker"
                binding="basicHttpBinding" bindingConfiguration="TraderBrokerServiceImplPortBinding"
                contract="TraderBrokerServiceReference.TraderBrokerService"
                name="TraderBrokerServiceImplPort" />
        </client>
        <services>
            <service behaviorConfiguration="DefaultBehaviour" name="TechnoLogica.RegiX.IaosTraderBrokerAdapter.AdapterService.IaosTraderBrokerAdapter">
                <endpoint
                    name="IIaosTraderBrokerAdapter"
                    address=""
                    binding="basicHttpBinding"
                    bindingConfiguration="DefaultBinding"
                    behaviorConfiguration="DefaultEndpointBehaviour"
                    contract="TechnoLogica.RegiX.IaosTraderBrokerAdapter.AdapterService.IIaosTraderBrokerAdapter">
                </endpoint>
            </service>
        </services>
    </system.serviceModel>

  <appSettings>
    <add key="CertificateFindValue" value="f2 91 ff 61 d4 a2 04 26 d2 11 43 ea 86 57 5f e8 d8 9c 29 a4" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="CertificateStoreName" value="My" />
    <add key="CertificateX509FindType" value="FindByThumbprint" />
    <add key="SignResponse" value="false" />
  </appSettings>
  
</configuration>
