<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastMember.Signed" version="1.5.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="RegiX.Adapters.Common" version="1.0.56" targetFramework="net461" />
  <package id="RegiX.Adapters.ConfigParameterStore" version="1.0.0" targetFramework="net461" />
  <package id="RegiX.Adapters.WCFAdapterHost" version="1.0.1" targetFramework="net461" />
  <package id="RegiX.BaseSigner" version="1.0.6" targetFramework="net461" />
  <package id="RegiX.Common" version="1.0.35" targetFramework="net461" />
  <package id="RegiX.SecureBlackBox.CertFinder.WinStore" version="1.0.8" targetFramework="net461" />
  <package id="RegiX.SecureBlackBoxSigner" version="1.0.8" targetFramework="net461" />
  <package id="SecureBlackbox" version="16.0.327" targetFramework="net461" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Xml" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
  <package id="System.ServiceModel.Http" version="4.7.0" targetFramework="net461" />
  <package id="System.ServiceModel.Primitives" version="4.7.0" targetFramework="net461" />
</packages>