<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DominoSoapBinding" />
                <binding name="DominoSoapBinding1" />
                <binding name="DominoSoapBinding2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://217.75.131.131:31381/CategoryzationMun.nsf/query3?OpenWebService"
                binding="basicHttpBinding" bindingConfiguration="DominoSoapBinding"
                contract="CategorizationResortService.CategorizationDB" name="Domino" />
            <endpoint address="http://217.75.131.131:31381/CategoryzationMun.nsf/query2?OpenWebService"
                binding="basicHttpBinding" bindingConfiguration="DominoSoapBinding1"
                contract="CategorizationService.CategorizationDB" name="Domino1" />
            <endpoint address="http://217.75.131.131:31381/Registration.nsf/query?OpenWebService"
                binding="basicHttpBinding" bindingConfiguration="DominoSoapBinding2"
                contract="TOTAService.TOTADB" name="Domino2" />
        </client>
    </system.serviceModel>
</configuration>