<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="wsSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://172.18.252.33/ws_EGOV/ws.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsSoap" contract="MonServiceReference.wsSoap"
                name="wsSoap" />
            <endpoint address="http://172.18.252.33/ws_EGOV/ws.asmx" binding="customBinding"
                bindingConfiguration="wsSoap12" contract="MonServiceReference.wsSoap"
                name="wsSoap12" />
        </client>
    </system.serviceModel>
</configuration>