.operation-panel {
  padding-left: 10px !important;
  padding-bottom: 5px !important;
  padding-right: 10px !important;
}
.cardHeader {
  margin: 10px 10px 10px 10px !important;
}
.card {
  margin-bottom: 20px !important;
}

.input-holder {
  // margin: 10px;
  // margin-bottom: 0px;
  padding-bottom: 15px;
}
.agency-wrapper {
  // padding-left: 5px;
  // padding-right: 5px;
  // padding-top: 0px;
  // border: 1px solid lightgrey;
  padding-top: 55px
}
.agency-select {
  width: 100%;
  padding-left: 21px; padding-right: 21px
}
.select-clear-button {
  margin: 2px;
  padding: 0px !important;
  min-width: 30px !important;
  min-height: 30px !important;
  width: 30px;
  height: 30px;
}

.registers-wrapper{
  margin: 1rem;
}
