<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="RegiXContext" connectionString="metadata=res://*/RegiXModel.csdl|res://*/RegiXModel.ssdl|res://*/RegiXModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=egov;password=;persist security info=True;user id=&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="RolesModelContainer" connectionString="metadata=res://*/RolesModel.csdl|res://*/RolesModel.ssdl|res://*/RolesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TLSQL2012\MSSQL2012;initial catalog=regix2Client;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="regix2ClientEntities" connectionString="metadata=res://*/RolesModel.csdl|res://*/RolesModel.ssdl|res://*/RolesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TLSQL2012\MSSQL2012;initial catalog=regix2Client;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="regix2ClientEntities1" connectionString="metadata=res://*/RolesModel.csdl|res://*/RolesModel.ssdl|res://*/RolesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TLSQL2012\MSSQL2012;initial catalog=regix2Client;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="RegiXContext" connectionString="metadata=res://*/RegiXModel.csdl|res://*/RegiXModel.ssdl|res://*/RegiXModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=regix2-sql.regix.tlogica.com;initial catalog=regix;persist security info=True;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--<oracle.dataaccess.client>
    <settings>
      <add name="bool" value="edmmapping number(1,0)" />
    </settings>
  </oracle.dataaccess.client>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
