<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="VesselsServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51888/VesselsService.asmx" binding="basicHttpBinding" bindingConfiguration="VesselsServiceSoap" contract="SeamanCertificatesService.VesselsServiceSoap" name="SeamanCertificatesServiceEndpoint"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
