<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MROBagsServiceImplPortBinding">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://source.gravis.bg:443/egov/services/mro-bags" binding="basicHttpBinding" bindingConfiguration="MROBagsServiceImplPortBinding" contract="MROBagsServiceReference.MROBagsService" name="MROBagsServiceImplPort"/>

    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>