<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!--Forbid metadata discovery-->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="DefaultEndpointBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="RestEndpointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="VesselsServiceSoap"/>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBindingConfiguration"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 transferMode="StreamedResponse"
                 maxReceivedMessageSize="26214400"
                 maxBufferSize="26214400">
          <readerQuotas maxDepth="256"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://egov.ad.tlogica.com/MockRegisters/IAMAVessels/VesselsService.asmx" binding="basicHttpBinding" bindingConfiguration="VesselsServiceSoap" contract="SeamanCertificatesService.VesselsServiceSoap" name="SeamanCertificatesServiceEndpoint"/>
    </client>
  </system.serviceModel>
</configuration>