<button
  type="button"
  [igxToggleAction]="userDropdown"
  [overlaySettings]="menuOverlaySettings"
  [igxDropDownItemNavigation]="userDropdown"
  title="Потребителски настройки"
  class="user-button"
  igxButton="outlined"
>
  <igx-icon>account_circle</igx-icon>&nbsp;{{ user }}
  <!-- <i class="fa fa-arrow-down" aria-hidden="true"></i> -->
</button>
<igx-drop-down
  #userDropdown
  (onSelection)="onUserMenuSelected($event)"
  [width]="'200px'"
>
  <!--tl-reference-button
    [routeReference]="this.routes.USER_PROFILE"
    buttonType="drop-down"
    title="Настойки"
  >
  </tl-reference-button-->
  <igx-drop-down-item (click)="onChangePassword()">
    <igx-icon>vpn_key</igx-icon>&nbsp;Промяна на парола
  </igx-drop-down-item>
  <igx-drop-down-item (click)="onMyProfile()">
    <igx-icon igxPrefix>person</igx-icon>Моят профил
  </igx-drop-down-item>
  <igx-drop-down-item (click)="onLogOut()">
    <igx-icon>exit_to_app</igx-icon>&nbsp;Изход
  </igx-drop-down-item>
</igx-drop-down>
