.content {
  padding: 5px 5px 0px 5px;
}
.content-wrapper {
  max-height: 500px;
  // min-height: 500px;
  overflow: auto;
}

.igxCardContent2{
  padding-left: 30px;
  padding-right: 30px;
}

.igx-card-header__title{
  font-weight: 600 !important;
  font-size: 1.25rem !important;
  letter-spacing: 0.009375rem !important;
  text-transform: none !important;
  line-height: 1.5rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin: 0 !important;
}

.igx-navbar__title{
  font-weight: 600 !important;
  font-size: 1.25rem !important;
  letter-spacing: 0.009375rem !important;
  text-transform: none !important;
  line-height: 1.5rem !important;
  margin-top: 0 !important;
  margin-left: 16px !important;
  margin-bottom: 0 !important;
  margin-bottom: 0 !important;
}
