<tl-wrapping-card
  [title]="routes.CONSUMER_SYSTEMS.title"
  [icon]="routes.CONSUMER_SYSTEMS.icon"
  [subTitle]="subtitle"
  [actions]="[
  {
    reference: this.routes.AUDIT,
    args: { ':TABLE_NAME': this.CONSUMER_SYSTEMS }
  },
  { reference: excelExportAll }
]"
>
  <tl-linear-progress
    [visible]="this.remoteService.isLoading"
  ></tl-linear-progress>
  <igx-grid
    #grid
    [data]="items$ | async"
    [paging]="true"
    [height]="null"
    width="100%"
    [clipboardOptions]="{ copyHeaders: false}"
    [displayDensity]="'cosy'"
    (onSortingDone)="sortingDone($event)"
    (onFilteringDone)="filteringDone($event)"
    (onSelection)="cellSelection($event)"
    [paginationTemplate]="pager"
    [allowFiltering]="true"
    [primaryKey]="'id'"
  >
    <igx-column
      field="name"
      header="Име"
      [sortable]="true"
      [dataType]="'string'"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value" class="text-ellipsis">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column
    field="staticIP"
    header="IP адрес"
    [sortable]="true"
    [dataType]="'string'"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value" class="text-ellipsis">{{ cell.value }}</span>
    </ng-template>
  </igx-column>

    <igx-column
      field="description"
      header="Описание"
      [sortable]="true"
      [dataType]="'string'"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value" class="text-ellipsis">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column
      field="apiServiceConsumer"
      header="Консуматор"
      [sortable]="true"
      [dataType]="'string'"
      [formatter]="displayValueService.formatDisplayValue"
      [filters]="displayValueFilteringOperand"
    >
    </igx-column>

    <igx-column
      field="consumerProfile"
      header="Профил на консуматор"
      [sortable]="true"
      [dataType]="'string'"
      [formatter]="displayValueService.formatDisplayValue"
      [filters]="displayValueFilteringOperand"
    >
    </igx-column>

    <igx-column
      header="Действия"
      [sortable]="false"
      width="150px"
      [filterable]="false"
    >
      <ng-template igxCell let-cell="cell">
        <div
          igxLayout
          igxLayoutDir="row"
          igxLayoutJustify="center"
          class="action-buttons-wrapper"
        >
          <tl-reference-button
            [routeReference]="this.routes.CONSUMER_SYSTEM_CERTIFICATE"
            [routeArguments]="{ ':CON_SYS_ID': cell.rowData.id }"
            buttonType="action-button"
          >
          </tl-reference-button>
          <tl-reference-button
            [routeReference]="this.routes.CONSUMER_SYSTEMS_SHOW"
            [routeArguments]="{ ':ID': cell.rowData.id }"
            buttonType="action-button"
          >
          </tl-reference-button>
          <tl-reference-button
            [routeReference]="this.routes.CONSUMER_SYSTEMS_EDIT"
            [routeArguments]="{ ':ID': cell.rowData.id }"
            buttonType="action-button"
          >
          </tl-reference-button>
   
        </div>
      </ng-template>
    </igx-column>

    <ng-template #pager let-grid>
      <div class="tl-paginator">
        <tl-grid-pager
          [page]="remoteService.pagerParams.page"
          [perPage]="remoteService.pagerParams.perPage"
          [totalCount]="remoteService.pagerParams.totalCount"
          (pagerChange)="pagerChange($event)"
        ></tl-grid-pager>
      </div>
    </ng-template>
  </igx-grid>
</tl-wrapping-card>
