
.regix-logo{
  max-width: 20rem;
}

.application-title{
  padding-bottom: 3rem;
  text-align: center;
}

.form-input {
  color: black !important;
  // width: 400px;
}
.buttons-wrapper {
  // width: 100%;
  padding: 0px;
}
.login-button {
  margin-left: 2px;
  font-size: 12pt;
  padding: 15px;
}
.inner-wrapper {
  width: 80%;
  align-self: center;
  overflow: auto;
}

.login-right {
  padding: 1rem;
  height: 100%;
  width: 100%;
  object-fit: contain
}
