<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CROZWebServicePortBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://croz-dev-xp:8080/CROZV2/CROZService" binding="basicHttpBinding" bindingConfiguration="CROZWebServicePortBinding" contract="CROZServiceReference.CROZWebService" name="WebServices"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
