<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CertificateFindValue" value="f2 91 ff 61 d4 a2 04 26 d2 11 43 ea 86 57 5f e8 d8 9c 29 a4" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="CertificateStoreName" value="My" />
    <add key="CertificateX509FindType" value="FindByThumbprint" />
    <add key="SignResponse" value="false" />

    
    <add key="sp_all_site2_WorthValue" value="WORTH_VALUE" />
    <add key="sp_all_site2_WorthCurrency" value="WORTH_CURRENCY" />
    
    <add key="sp_all_site2_Description" value="DESCRIPTION" />
    <add key="sp_all_site2_ActId" value="ACT_ID" />
    <add key="sp_all_site2_PropId" value="PROPERTY_ID" />
    <add key="sp_all_site2_CitizenId" value="CITIZEN_ID" />
    <add key="sp_all_site2_LeId" value="LE_ID" />
    <add key="sp_all_site2_Condition" value="CONDITION" />
    <add key="sp_all_site2_SiteId" value="SITE_ID" />
    <add key="sp_all_site2_SiteName" value="SITE" />
    <add key="sp_all_site2_IncomingRegisterNumber" value="INCOMING_REGISTER_NUMBER" />
    <add key="sp_all_site2_IncomingRegisterDate" value="INCOMING_REGISTER_DATE" />
    <add key="sp_all_site2_DoubleRegisterNumber" value="DOUBLE_REGISTER_NUMBER" />
    <add key="sp_all_site2_ActYear" value="ACT_YEAR" />
    <add key="sp_all_site2_RegistrationDate" value="REGISTRATION_DATE" />
    <add key="sp_all_site2_RegistrationDateSort" value="REGISTRATION_DATE_SORT" />
    <add key="sp_all_site2_Book" value="BOOK" />
    <add key="sp_all_site2_ActType" value="ACT_TYPE" />
    <add key="sp_all_site2_OldBook" value="OLD_BOOK" />
    <add key="sp_all_site2_OldActType" value="OLD_ACT_TYPE" />
    <add key="sp_all_site2_File" value="FILE_" />
    <add key="sp_all_site2_FileNumber" value="FILE_NUMBER" />
    <add key="sp_all_site2_PersonalLotNumber" value="PERSONAL_LOT_NUMBER" />
    <add key="sp_all_site2_PropertyRemarkAsString" value="PROPERTY_REMARK_AS_STRING" />
    <add key="sp_all_site2_PropertyCadastreNumber" value="PROPERTY_CADASTRE_NUMBER" />
    <add key="sp_all_site2_PropertyLotNumber" value="PROPERTY_LOT_NUMBER" />
    <add key="sp_all_site2_RefusalId" value="REFUSAL_ID" />
    <add key="sp_all_site2_RefusalStatus" value="REFUSAL_STATUS" />
    <add key="sp_all_site2_IsRefusal" value="ISREFUSAL" />
    <add key="sp_all_site2_SiteStartDate" value="SITE_START_DATE" />
    <add key="sp_all_site2_LeftSide" value="LEFT_SIDE" />
    <add key="sp_all_site2_RightSide" value="RIGHT_SIDE" />
    <add key="sp_all_site2_RefusalLSide" value="REFUSAL_L_SIDE" />
    <add key="sp_all_site2_RefusalRSide" value="REFUSAL_R_SIDE" />
    <add key="sp_all_site2_ConnActs" value="CONN_ACTS" />
    <add key="sp_all_site2_ConActsC" value="CONN_ACTS_C" />

    <add key="selbyproperty3_WorthValue" value="WORTH_VALUE" />
    <add key="selbyproperty3_WorthCurrency" value="WORTH_CURRENCY" />

    <add key="selbyproperty3_R" value="R" />
    <add key="selbyproperty3_ActId" value="ACT_ID" />
    <add key="selbyproperty3_Condition" value="CONDITION" />
    <add key="selbyproperty3_ActTypeId" value="ACT_TYPE_ID" />
    <add key="selbyproperty3_A18" value="A18" />
    <add key="selbyproperty3_A20" value="A20" />
    <add key="selbyproperty3_OldBook" value="OLD_BOOK" />
    <add key="selbyproperty3_OldActType" value="OLD_ACT_TYPE" />
    <add key="selbyproperty3_BookTypeId" value="BOOK_TYPE_ID" />
    <add key="selbyproperty3_A21" value="A21" />
    <add key="selbyproperty3_A22" value="A22" />
    <add key="selbyproperty3_A23" value="A23" />
    <add key="selbyproperty3_A17" value="A17" />
    <add key="selbyproperty3_DoubleIncomingRegisterDate" value="DOUBLE_INCOMING_REGISTER_DATE" />
    <add key="selbyproperty3_DoubleRegisterDateSort" value="DOUBLE_REGISTER_DATE_SORT" />
    <add key="selbyproperty3_PropertyRemark" value="PROPERTY_REMARK" />
    <add key="selbyproperty3_PropertyLotNumber" value="PROPERTY_LOT_NUMBER" />
    <add key="selbyproperty3_PropertyLotPublicationDate" value="PROPERTY_LOT_PUBLICATION_DATE" />
    <add key="selbyproperty3_A31" value="A31" />
    <add key="selbyproperty3_A27" value="A27" />
    <add key="selbyproperty3_PropertyCadastreNumber" value="PROPERTY_CADASTRE_NUMBER" />
    <add key="selbyproperty3_PropertyRemarkAsString" value="PROPERTY_REMARK_AS_STRING" />
    <add key="selbyproperty3_PropertyFunctionName" value="PROPERTY_FUNCTION_NAME" />
    <add key="selbyproperty3_LeftSide" value="LEFT_SIDE" />
    <add key="selbyproperty3_RightSide" value="RIGHT_SIDE" />
    <add key="selbyproperty3_PropertyTypeName" value="PROPERTY_TYPE_NAME" />
    <add key="selbyproperty3_PropertyAddress" value="PROPERTY_ADDRESS" />
    <add key="selbyproperty3_LotPart" value="LOT_PART" />
    <add key="selbyproperty3_ListBookNumber" value="LIST_BOOK_NUMBER" />
    <add key="selbyproperty3_ListBookDate" value="LIST_BOOK_DATE" />
    <add key="selbyproperty3_IncomingRegisterNumber" value="INCOMING_REGISTER_NUMBER" />
    <add key="selbyproperty3_IncomingRegisterDate" value="INCOMING_REGISTER_DATE" />
    <add key="selbyproperty3_RefusalId" value="REFUSAL_ID" />
    <add key="selbyproperty3_RefusalStatus" value="REFUSAL_STATUS" />
    <add key="selbyproperty3_IsRefusal" value="ISREFUSAL" />
    <add key="selbyproperty3_SiteName" value="SITE" />
    <add key="selbyproperty3_SiteId" value="SITE_ID" />
    <add key="selbyproperty3_SiteStartDate" value="SITE_START_DATE" />
    <add key="selbyproperty3_RefusalLSide" value="REFUSAL_L_SIDE" />
    <add key="selbyproperty3_RefusalRSide" value="REFUSAL_R_SIDE" />
    <add key="selbyproperty3_ConnActs" value="CONN_ACTS" />
    <add key="selbyproperty3_ConnActsC" value="CONN_ACTS_C" />

    <add key="sel_like_all_LotNumber" value="LOT_NUMBER" />
    <add key="sel_like_all_PropertyId" value="PROPERTY_ID" />
    <add key="sel_like_all_CreatorId" value="CREATOR_ID" />
    <add key="sel_like_all_CreateDate" value="CREATE_DATE" />
    <add key="sel_like_all_ModifierId" value="MODIFIER_ID" />
    <add key="sel_like_all_ModifyDate" value="MODIFY_DATE" />
    <add key="sel_like_all_SiteId" value="SITE_ID" />
    <add key="sel_like_all_UpdateCount" value="UPDATE_COUNT" />
    <add key="sel_like_all_CadastreNumber" value="CADASTRE_NUMBER" />
    <add key="sel_like_all_SecondCadastreNumber" value="SECOND_CADASTRE_NUMBER" />
    <add key="sel_like_all_PropertyTypeId" value="PROPERTY_TYPE_ID" />
    <add key="sel_like_all_PropertyTypeName" value="PROPERTY_TYPE_NAME" />
    <add key="sel_like_all_SurfaceDoc" value="SURFACE_DOC" />
    <add key="sel_like_all_SurfaceReal" value="SURFACE_REAL" />
    <add key="sel_like_all_SoilCategory" value="SOIL_CATEGORY" />
    <add key="sel_like_all_RegulatedQuarter" value="REGULATED_QUARTER" />
    <add key="sel_like_all_RegulationPlanYear" value="REGULATION_PLAN_YEAR" />
    <add key="sel_like_all_PlaceId" value="PLACE_ID" />
    <add key="sel_like_all_City" value="CITY" />
    <add key="sel_like_all_Obshtina" value="OBSHTINA" />
    <add key="sel_like_all_Oblast" value="OBLAST" />
    <add key="sel_like_all_HostingEstate" value="HOUSING_ESTATE" />
    <add key="sel_like_all_District" value="DISTRICT" />
    <add key="sel_like_all_Street" value="STREET" />
    <add key="sel_like_all_StreetNumber" value="STREET_NUMBER" />
    <add key="sel_like_all_BlockName" value="BLOCK" />
    <add key="sel_like_all_Entrance" value="ENTRANCE" />
    <add key="sel_like_all_FloorName" value="FLOOR" />
    <add key="sel_like_all_Apartment" value="APARTMENT" />
    <add key="sel_like_all_PostBox" value="POST_BOX" />
    <add key="sel_like_all_Remark" value="REMARK" />
    <add key="sel_like_all_NumLevels" value="NUM_LEVELS" />
    <add key="sel_like_all_IdealParts" value="IDEAL_PARTS" />
    <add key="sel_like_all_IdealPartsType" value="IDEAL_PARTS_TYPE" />
    <add key="sel_like_all_Active" value="ACTIVE" />
    <add key="sel_like_all_CountrySide" value="COUNTRYSIDE" />
    <add key="sel_like_all_MassifNumber" value="MASSIF_NUMBER" />
    <add key="sel_like_all_Parcel" value="PARCEL" />
    <add key="sel_like_all_PermanentFunctionId" value="PERMANENT_FUNCTION_ID" />
    <add key="sel_like_all_WayofUsageId" value="WAY_OF_USAGE_ID" />
    <add key="sel_like_all_FunctionId" value="FUNCTION_ID" />
    <add key="sel_like_all_PlotIdentifier" value="PLOT_IDENTIFIER" />
    <add key="sel_like_all_ConnectedObject" value="CONNECTED_OBJECT" />
    <add key="sel_like_all_ConnectedObjectNumber" value="CONNECTED_OBJECT_NUMBER" />
    <add key="sel_like_all_AreaMeasureId" value="AREA_MEASURE_ID" />
    <add key="sel_like_all_OldLotNumber" value="OLD_LOT_NUMBER" />
    <add key="sel_like_all_PropertyLotId" value="PROPERTY_LOT_ID" />
    <add key="sel_like_all_SiteName" value="SITE" />
    <add key="sel_like_all_SiteStartDate" value="SITE_START_DATE" />

    <add key="get_sites_SiteCode" value="SITE_CODE" />
    <add key="get_sites_SiteName" value="SITE_NAME" />
    <add key="get_sites_SiteStartDate" value="SITE_START_DATE" />
  </appSettings>
</configuration>