<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegiX.Core.STSIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RegiX.Core.STSIntegration.Properties.Settings>
            <setting name="STSAddress" serializeAs="String">
                <value>https://92.247.29.196:9443/egov-sts/jaxws-sts/sts</value>
            </setting>
            <setting name="STSIdentity" serializeAs="String">
                <value>sts.egov.bg</value>
            </setting>
            <setting name="STSServiceCertificateStoreLocation" serializeAs="String">
                <value>LocalMachine</value>
            </setting>
            <setting name="STSServiceCertificateStoreName" serializeAs="String">
                <value>TrustedPeople</value>
            </setting>
            <setting name="STSServiceCertificateX509FindType" serializeAs="String">
                <value>FindByThumbprint</value>
            </setting>
            <setting name="STSServiceCertificateValue" serializeAs="String">
                <value>FC3ACE9EF9C204CBEF98D89818686F9E2EA3F5A9</value>
            </setting>
            <setting name="STSClientCertificateStoreLocation" serializeAs="String">
                <value>LocalMachine</value>
            </setting>
            <setting name="STSClientCertificateStoreName" serializeAs="String">
                <value>My</value>
            </setting>
            <setting name="STSClientCertificateX509FindType" serializeAs="String">
                <value>FindByThumbprint</value>
            </setting>
            <setting name="STSClientCertificateValue" serializeAs="String">
                <value>FEB8132C82D38E0A8A43D94D8CF1B5A35499BE2E</value>
            </setting>
            <setting name="STSProtectionLevel" serializeAs="String">
                <value>Sign</value>
            </setting>
            <setting name="STSValidationEnable" serializeAs="String">
                <value>True</value>
            </setting>
        </RegiX.Core.STSIntegration.Properties.Settings>
    </applicationSettings>
</configuration>