
  .register-wrapper{
    margin-bottom: 1rem;
  }

  .registers-wrapper {
    margin: 1rem;
  }

  .adapter-chip-wrapper{
    display: flex;
    justify-content: flex-start;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top:0.5rem;
    margin-bottom: 0.2rem;
  }
  .version-chip{
    margin-left: 0.3rem;
  }
  .register-card{
    margin-bottom: 1rem;
  }
