<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="POVNForDatePaySoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true"/>
                <binding name="POVNForPeriodSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true"/>
                <binding name="POBForDatePaySoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true"/>
                <binding name="POBForPeriodSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://egov.ad.tlogica.com/MockRegisters/NOI_POBDatePay/POBForDatePay.asmx" binding="basicHttpBinding" bindingConfiguration="POBForDatePaySoap" contract="POBForDatePayService.POBForDatePaySoap" name="POBForDatePaySoap"/>
            <endpoint address="http://egov.ad.tlogica.com/MockRegisters/NOI_POBPeriod/POBForPeriod.asmx" binding="basicHttpBinding" bindingConfiguration="POBForPeriodSoap" contract="POBPeriodService.POBForPeriodSoap" name="POBForPeriodSoap"/>
            <endpoint address="http://egov.ad.tlogica.com/MockRegisters/NOI_POVNDatePay/POVNForDatePay.asmx" binding="basicHttpBinding" bindingConfiguration="POVNForDatePaySoap" contract="POVNForDatePayService.POVNForDatePaySoap" name="POVNForDatePaySoap"/>
            <endpoint address="http://egov.ad.tlogica.com/MockRegisters/NOI_POVNPeriod/POVNForPeriod.asmx" binding="basicHttpBinding" bindingConfiguration="POVNForPeriodSoap" contract="POVNForPeriodService.POVNForPeriodSoap" name="POVNForPeriodSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
