<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EGovermentWSServiceImplServiceSoapBinding" />
                <binding name="genWSSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.252.10.26:9010/eg/bc/service/" binding="basicHttpBinding"
                bindingConfiguration="EGovermentWSServiceImplServiceSoapBinding"
                contract="MVRMPSServiceReference.IntSyncPortType" name="EGovermentWSServiceImplPort" />
            <endpoint address="http://localhost:9036/services/regix" binding="basicHttpBinding"
                bindingConfiguration="genWSSoapBinding" contract="MVRMPSServiceReferenceV2.IntSyncPortType"
                name="genWSImplPort" />
          <endpoint address="http://localhost:9036/services/regix" binding="basicHttpBinding"
              bindingConfiguration="genWSSoapBinding1" contract="MVRMPSServiceReferenceV3.IntSyncPortType"
              name="genWSImplPort1" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
