<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TechnoLogica.RegiX.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="RegiXContext" connectionString="metadata=res://*/RegiXModel.csdl|res://*/RegiXModel.ssdl|res://*/RegiXModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=regix2-sql.regix.tlogica.com;initial catalog=regix;persist security info=True;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SecuredMessageServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--<serviceCredentials>
            <serviceCertificate findValue="5a272a6dd34666aa48a77b9a80020a86fa01762f" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
          </serviceCredentials>-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>


      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultBinding">
          <security mode="None"/>
        </binding>
        <binding name="BasicHttpBinding_IRegiXService" maxBufferSize="65536000" maxReceivedMessageSize="65536000">
          <readerQuotas maxStringContentLength="81920000"/>
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="CallbackBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Buffered" maxReceivedMessageSize="26214400" maxBufferSize="26214400">
          <readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="DefaultAdapterClientBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transferMode="Buffered" maxReceivedMessageSize="26214400" maxBufferSize="26214400">
          <readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="SSLClientAuth" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="26214400">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"></transport>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="SSLClientAuth" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="26214400">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"></transport>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="TechnoLogica.RegiX.CoreServices.RegiXService" behaviorConfiguration="SecuredMessageServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegiXService" contract="TechnoLogica.RegiX.LegacyCore.Interfaces.IRegiXService"/>
      </service>
      <service name="TechnoLogica.RegiX.CoreServices.RegiXEntryPoint" behaviorConfiguration="SecuredMessageServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="SSLClientAuth" contract="TechnoLogica.RegiX.Common.Interfaces.IRegiXEntryPoint"/>
      </service>
      <service name="TechnoLogica.RegiX.CoreServices.RegiXEntryPointV2" behaviorConfiguration="SecuredMessageServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="SSLClientAuth" contract="TechnoLogica.RegiX.Core.Interfaces.IRegiXEntryPointV2"/>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="SSLClientAuth" contract="TechnoLogica.RegiX.Core.Interfaces.IRegiXEntryPointV2"/>
        <endpoint address="serviceBus" binding="basicHttpBinding" bindingConfiguration="DefaultBinding" contract="TechnoLogica.RegiX.Core.Interfaces.IRegiXEntryPointV2"/>
      </service>

      <service name="TechnoLogica.RegiX.CoreServices.RegiXReceiveResult">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DefaultAdapterClientBinding" contract="TechnoLogica.RegiX.Common.IReceiveResult"/>
      </service>

      <service name="TechnoLogica.RegiX.CoreServices.AdapterDataService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="TechnoLogica.RegiX.CoreServices.IRegiXMetaDataService2" behaviorConfiguration="web">
        </endpoint>
      </service>
      
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.diagnostics>
    <sources>
      <source name="System.ComponentModel.Composition" switchValue="All">
        <listeners>
          <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="composition.log"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4"/>
  </system.diagnostics>
  <applicationSettings>
    <TechnoLogica.RegiX.Core.Properties.Settings>
      <setting name="AllowEAuthBypass" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExpectedClientCertificatePlace" serializeAs="String">
        <value>RequestOnly</value>
      </setting>
    </TechnoLogica.RegiX.Core.Properties.Settings>
  </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
