<tl-wrapping-card
  [fabAction]="routes.ADMINISTRATIONS_TYPES_NEW"
  [title]="routes.ADMINISTRATIONS_TYPES.title"
  [icon]="routes.ADMINISTRATIONS_TYPES.icon"
  [actions]="[
    { reference: excelExportAll }
  ]"
>
  <tl-linear-progress
    [visible]="this.remoteService.isLoading"
  ></tl-linear-progress>
  <igx-grid
    #grid
    [data]="items$ | async"
    [paging]="true"
    [height]="null"
    width="100%"
    [clipboardOptions]="{ copyHeaders: false}"
    [displayDensity]="'cosy'"
    (onSortingDone)="sortingDone($event)"
    (onFilteringDone)="filteringDone($event)"
    (onSelection)="cellSelection($event)"
    [paginationTemplate]="pager"
    [allowFiltering]="true"
    [primaryKey]="'id'"
  >
    <igx-column
      field="name"
      header="Име"
      [sortable]="true"
      [dataType]="'string'"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value" class="text-ellipsis">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column
      field="description"
      header="Описание"
      width="15%"
      [sortable]="true"
      [dataType]="'string'"
    >
      <ng-template igxCell let-cell="cell">
        <span [title]="cell.value" class="text-ellipsis">{{ cell.value }}</span>
      </ng-template>
    </igx-column>

    <igx-column
      field="publiclyVisible"
      header="Публичен"
      width="130px"
      [sortable]="true"
      [dataType]="'boolean'"
    >
      <ng-template igxCell let-cell="cell">
        <igx-checkbox disabled="true" [checked]="cell.value === true">
        </igx-checkbox>
      </ng-template>
    </igx-column>

    <igx-column
      header="Действия"
      [sortable]="false"
      width="130px"
      [filterable]="false"
    >
      <ng-template igxCell let-cell="cell">
        <div
          igxLayout
          igxLayoutDir="row"
          igxLayoutJustify="center"
          class="action-buttons-wrapper"
        >
          <tl-reference-button
            [routeReference]="this.routes.ADMINISTRATIONS_TYPES_SHOW"
            [routeArguments]="{ ':ID': cell.rowData.id }"
            buttonType="action-button"
          >
          </tl-reference-button>
          <tl-reference-button
            [routeReference]="this.routes.ADMINISTRATIONS_TYPES_EDIT"
            [routeArguments]="{ ':ID': cell.rowData.id }"
            buttonType="action-button"
          >
          </tl-reference-button>
          <button
            type="button"
            title="Изтрий"
            igxButton="icon"
            class="table-action-button"
            (click)="prepareForDelete(cell.rowData)"
          >
            <igx-icon>delete</igx-icon>
          </button>
        </div>
      </ng-template>
    </igx-column>

    <ng-template #pager let-grid>
      <div class="tl-paginator">
        <tl-grid-pager
          [page]="remoteService.pagerParams.page"
          [perPage]="remoteService.pagerParams.perPage"
          [totalCount]="remoteService.pagerParams.totalCount"
          (pagerChange)="pagerChange($event)"
        ></tl-grid-pager>
      </div>
    </ng-template>
  </igx-grid>
</tl-wrapping-card>
<igx-dialog
  #dialog
  title="Изтриване на тип администрация?"
  message="Сигурни ли сте, че искате да изтриете избрания тип администрация?"
>
  <div igxDialogActions class="dialog-container dialog-actions">
    <button igxButton (click)="onDeleteCanceled()">Не</button>
    <button igxButton="raised" (click)="onDeleteConfirmed()">Да</button>
  </div>
</igx-dialog>
