<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BPOGeoSearchServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://93.152.159.78:6668/bpo.register.ws.provider/services/BPOGeoSearchServiceDefaultPort"
                binding="basicHttpBinding" bindingConfiguration="BPOGeoSearchServiceSoapBinding"
                contract="PvGeoServiceReference.BPOGeoSearch" name="BPOGeoSearchServiceDefaultPort" />
        </client>
    </system.serviceModel>
</configuration>