.role-operations-wrapper {
}
.operations-wrapper {
  margin-top: 20px;
}
.formGroup {
  margin-top: 20px;
}
.roles-wrapper {
  padding: 10px;
}
.tabs-wrapper {
  border: 1px solid #c1c1c1;
  margin-bottom: 20px;
}
