<rgx-divided
  [leftContent]="login"
  [rightContent]="logo"
  [applicationName]="applicationName"
>
  <ng-template #login>
    <div  class="inner-wrapper" igxLayout igxLayoutDir="column" igxLayoutItemAlign="center">
      <div class="buttons-wrapper" igxLayout igxLayoutDir="row">
        <button
          igxFlex
          type="button"
          class="login-button"
          igxButton="raised"
          (click)="onLogin()"
          title="Вход"
        >
          <igx-icon>login</igx-icon>&nbsp;Вход
        </button>
      </div>

      <div class="buttons-wrapper" igxLayout igxLayoutDir="row">
        <button
          igxFlex
          type="button"
          class="login-button"
          igxButton="raised"
          (click)="onRegister()"
          title="Регистрация"
        >
          <igx-icon>person</igx-icon>&nbsp;Регистрация
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #logo>
    <img
      class="login-right"
      src="assets/RegiXConsole.png"
      alt="RegiX"
    />
  </ng-template>
</rgx-divided>
<rgx-version [version]="version"></rgx-version>
