<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StateOfPlayPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://62.176.116.155:8082/bulstat/services/StateOfPlayService"
                binding="basicHttpBinding" bindingConfiguration="StateOfPlayPortBinding"
                contract="AVBulstat2ServiceReference.StateOfPlayPortType"
                name="StateOfPlayPort" />
        </client>
    </system.serviceModel>
</configuration>