@tl:registry=http://tfstl:8080/tfs/DefaultCollection/_packaging/TechnoLogica.Common/npm/registry/
@tl-rgx:registry=http://tfstl:8080/tfs/DefaultCollection/_packaging/RegiX1/npm/registry/
registry=https://registry.npmjs.com/
always-auth=true
; begin auth token
//tfstl:8080/tfs/DefaultCollection/_packaging/TechnoLogica.Common/npm/registry/:username=dmitev
//tfstl:8080/tfs/DefaultCollection/_packaging/TechnoLogica.Common/npm/registry/:_password=##PAT##
//tfstl:8080/tfs/DefaultCollection/_packaging/TechnoLogica.Common/npm/registry/:email=dmitev@technologica.com
//tfstl:8080/tfs/DefaultCollection/_packaging/TechnoLogica.Common/npm/:username=dmitev
//tfstl:8080/tfs/DefaultCollection/_packaging/TechnoLogica.Common/npm/:_password=##PAT##
//tfstl:8080/tfs/DefaultCollection/_packaging/TechnoLogica.Common/npm/:email=dmitev@technologica.com

//tfstl:8080/tfs/DefaultCollection/_packaging/RegiX1/npm/registry/:username=dmitev
//tfstl:8080/tfs/DefaultCollection/_packaging/RegiX1/npm/registry/:_password=##PAT##
//tfstl:8080/tfs/DefaultCollection/_packaging/RegiX1/npm/registry/:email=dmitev@technologica.com
//tfstl:8080/tfs/DefaultCollection/_packaging/RegiX1/npm/:username=dmitev
//tfstl:8080/tfs/DefaultCollection/_packaging/RegiX1/npm/:_password=##PAT##
//tfstl:8080/tfs/DefaultCollection/_packaging/RegiX1/npm/:email=dmitev@technologica.com
; end auth token
