<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DominoSoapBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ispn.perfectbg.com:80/MJ/ispn.nsf/q?OpenWebService" binding="basicHttpBinding" bindingConfiguration="DominoSoapBinding" contract="ISPNService.ispn" name="Domino"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
