
$primary-color: #014f86;
$secondary-color: #808d93;
$application-background: #F7F7F7;
$button-color: #F7F7F7;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
  background: $application-background;
}

@import 'igniteui-angular/lib/core/styles/themes/index';

$my-color-palette: igx-palette(
  $primary: $primary-color,
  $secondary: $secondary-color
);

// IMPORTANT: Make sure you always include igx-core first!
@include igx-core();

@include igx-typography(
    $font-family: "'Fira Sans', sans-serif",
    $type-scale: $default-type-scale,
);

// Pass the color palette we generated to the igx-theme mixin
@include igx-theme($my-color-palette);

$navdrawer-theme: igx-navdrawer-theme(
  // $background: #2d313a,
    // $item-active-background: #ecc256,
    // $item-icon-color: #ecc256
    // item-text-color:$item-text-color,
    // item-active-text-color: $item-active-text-color,
    // item-active-background: $item-active-background,
    // item-hover-background: $item-hover-background,
    // item-hover-text-color:$item-hover-text-color,
    // item-header-text-color:$item-header-text-color,
    // item-icon-color:$item-icon-color,
    // item-active-icon-color:$item-active-icon-color,
    // item-hover-icon-color: $item-hover-icon-color,
);
// Pass the theme to the igx-navdrawer component mixin
@include igx-navdrawer($navdrawer-theme);

%item {
  margin: 0px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
$my-card-theme: igx-card-theme(
   $background: $application-background,
   $content-text-color: black,
    // $header-text-color: $card-header-text-color,
    // $outline-color: black
);
%igx-card-header {
  padding: 0.2rem !important;
  margin-bottom: 0.2rem !important;
  border-radius: 0.3em;
}
%igx-card-content {
  padding: 0rem !important;
}
%igx-card-actions {
  padding: 0rem !important;
  border-radius: 0.3em;
  justify-content: flex-start !important;
}


// Pass the theme to the igx-card component mixin
@include igx-card($my-card-theme);
%form-group-bundle {
  padding-top: 5px;
}

$my-tabs-theme: igx-tabs-theme(
  $item-background: #c1c1c1,
  //$secondary-color,
    // $item-text-color: white,
    // $item-active-background: white,
    // $item-active-color: black
);
%igx-tabs__content-fixed {
  // border: 1px solid $secondary-color;
  background: white;
}
%igx-tabs__item-label {
  font-size: 12px !important;
}
// Pass the theme to the igx-tabs component mixin
@include igx-tabs($my-tabs-theme);

$my-button-theme: igx-button-theme(
  $raised-text-color: white,
  $raised-background: $primary-color
);
// Pass the theme to the igx-button component mixin
@include igx-button($my-button-theme);

$my-expansion-panel-theme: igx-expansion-panel-theme(
  // $header-background: $expansion-panel-header-background,
    // $header-focus-background: $expansion-panel-header-focus,
    // $body-color: $expansion-panel-body-color,
    // $body-background: $expansion-panel-body-background,
    // $border-radius: 4px
);
%igx-expansion-panel__body {
  border: 1px solid lightgrey; //$secondary-color;
  box-shadow: 0 1px 2px lightgrey; //$secondary-color;
  padding: 10px !important;
}
// igx-grid-cell {
//   white-space: pre-wrap;      /* CSS3 */
//   white-space: -moz-pre-wrap; /* Firefox */
//   white-space: -pre-wrap;     /* Opera <7 */
//   white-space: -o-pre-wrap;   /* Opera 7 */
//   word-wrap: break-word;      /* IE */
//   word-break: break-all
// }
// Pass the theme to the igx-card component mixin
@include igx-expansion-panel($my-expansion-panel-theme);

.position-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.content-wrapper {
  padding-top: 102px;
  min-height: 500px;
  height: 100%;
  width: 100%;
}
.wrap {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
  word-break: break-all;
}

.table-wrapper {
  padding: 20px;
}

.breadcrumps-wrapper {
  padding-left: 9px;
  padding-right: 13px;
  width: 100%;
  background: #f1f1f1;
  border-bottom: 1px solid #d9d9d9;
}

.action-buttons-wrapper {
  width: 100%;
}

.igx-nav-drawer__aside::-webkit-scrollbar {
  width: 3px;
  background: #e4e4e4;
}

.igx-nav-drawer__aside::-webkit-scrollbar-thumb {
  background: #0375be;
  border-radius: 0;
}

.table-action-button {
  margin: 2px;
  padding: 0px !important;
  min-width: 30px !important;
  min-height: 30px !important;
  width: 30px;
  height: 30px;
}

.select-clear-button {
  margin: 2px;
  padding: 0px !important;
  min-width: 30px !important;
  min-height: 30px !important;
  width: 30px;
  height: 30px;
}

.input-group-form {
  width: 100%;
}
.input-group {
  margin-bottom: 1rem;
  width: 100%;
}
.form-group-wrapper {
  width: 100%;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.buttons-wrapper {
  padding: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.table-button {
  margin-left: 0.5rem;
}

ul {
  padding: 0px 20px 10px 20px;
  list-style-type: square;
}

ul li {
  margin: 5px;
}

.form-input {
  color: black !important;
}

.login-title {
  margin-bottom: 20px !important;
}

.regix-image{
  max-width: 100%;
  max-height: 100%;
}

.alert {
  width: 100%;
  padding: 10px;
  border: 1px solid orange;
  background: rgba(255, 230, 0, 0.2);
}
.error {
  width: 100%;
  padding: 10px;
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.2);
}
a {
  color: #014f86;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.width-100 {
  width: 100%;
}
.button-with-icon{
  margin-right: 0.4rem;
}
img {
  height: auto;
  max-width: 100%;
}
.material-icons{
  display: flex;
}