.floating-action-button {
    float: right;
    margin-top:-1rem;
    margin-left: -4rem;
    margin-right: 1rem;
}

.customP{
    margin-bottom:-1rem;
    margin-top: -1rem;
}
.basic-attribute {
  font-size: 12px;
  line-height: 12px;
}

.basic-attributes-wrapper {
  width: 100%;
  padding: 0.3rem;
}
