.input-group {
  margin-bottom: 0rem;
  width: 100%;
}
.select-clear-button {
  margin: 2px;
  margin-top: 5px;
  padding: 0px !important;
  min-width: 30px !important;
  min-height: 30px !important;
  width: 30px;
  height: 30px;
}
.error-wrapper {
  margin: 20px;
  margin-top: 0px;
}

.select-filter-wrapper {
  margin-top: 5px;
  width: 100%;
}
.select-filter {
  width: 100%;
}
.filterWrapper {
  padding: 1rem;
  padding-top: 0rem;
}
.buttons-wrapper {
  padding: 1rem;
  float: right;
}
.elements-wrapper {
  height: 100%;
}
.elements-header{
  padding: 1rem;
}

