<tl-basic-form
  [title]="operationName + ' ' + objectName"
  [baseForm]="this"
  *ngIf="formGroup"
>
  <div>
    <div *ngIf="isDataLoading">
      <div>
        <igx-circular-bar
          [animate]="true"
          [indeterminate]="true"
          [textVisibility]="true"
        ></igx-circular-bar>
      </div>
    </div>
    <form
      [formGroup]="formGroup"
      (submit)="onSubmit($event)"
      *ngIf="isDataLoaded && !isDataLoading"
    >
      <div class="input-group">
        <tl-form-group class="form-group-wrapper">
          <igx-input-group>
            <input
              class="form-input"
              igxInput
              name="name"
              type="text"
              formControlName="name"
              tlFormGroupRef
            />
            <label igxLabel for="name">Име</label>
          </igx-input-group>
        </tl-form-group>
      </div>

      <div class="input-group" *ngIf="isShowForm()">
        <tl-form-group class="form-group-wrapper">
          <igx-input-group>
            <input
              class="form-input"
              igxInput
              name="code"
              type="text"
              formControlName="code"
              tlFormGroupRef
            />
            <label igxLabel for="code">Код</label>
          </igx-input-group>
        </tl-form-group>
      </div>

      <div class="input-group">
        <tl-form-group class="form-group-wrapper">
          <igx-input-group>
            <input
              class="form-input"
              igxInput
              name="description"
              type="text"
              formControlName="description"
              tlFormGroupRef
            />
            <label igxLabel for="description">Описание</label>
          </igx-input-group>
        </tl-form-group>
      </div>

      <div class="input-group" *ngIf="isShowForm()">
        <tl-form-group class="form-group-wrapper">
          <igx-input-group>
            <input
              class="form-input"
              igxInput
              name="contract"
              type="text"
              formControlName="contract"
              tlFormGroupRef
            />
            <label igxLabel for="contract">Интерфейс</label>
          </igx-input-group>
        </tl-form-group>
      </div>

      <div class="input-group" *ngIf="isShowForm()">
        <tl-form-group class="form-group-wrapper">
          <igx-input-group>
            <input
              class="form-input"
              igxInput
              name="assembly"
              type="text"
              formControlName="assembly"
              tlFormGroupRef
            />
            <label igxLabel for="assembly">Assembly</label>
          </igx-input-group>
        </tl-form-group>
      </div>

      <div class="input-group" *ngIf="isShowForm()">
        <tl-form-group class="form-group-wrapper">
          <igx-input-group>
            <input
              class="form-input"
              igxInput
              name="controlerName"
              type="text"
              formControlName="controlerName"
              tlFormGroupRef
            />
            <label igxLabel for="controlerName">Контролер</label>
          </igx-input-group>
        </tl-form-group>
      </div>

      <div class="input-group">
        <tl-form-group class="form-group-wrapper">
          <igx-input-group>
            <input
              class="form-input"
              igxInput
              name="serviceUrl"
              type="text"
              formControlName="serviceUrl"
              tlFormGroupRef
            />
            <label igxLabel for="serviceUrl">URL Адрес</label>
          </igx-input-group>
        </tl-form-group>
      </div>

      <div class="input-group">
        <tl-form-group class="form-group-wrapper">
          <igx-input-group>
            <input
              class="form-input"
              igxInput
              name="administrationName"
              type="text"
              formControlName="administrationName"
              tlFormGroupRef
            />
            <label igxLabel for="administrationName">Администрация</label>
          </igx-input-group>
        </tl-form-group>
      </div>

      <igx-checkbox
        class="input-group"
        formControlName="isComplex"
        name="isComplex"
        disabled="true"
        *ngIf="isShowForm()"
      >
        Сложен
      </igx-checkbox>
      <igx-checkbox
        class="input-group"
        formControlName="enabled"
        name="enabled"
        [disabled]="isShowForm()"
      >
        Активен
      </igx-checkbox>
    </form>
  </div>
</tl-basic-form>
