
.form-wrapper {
  padding: 10px
}
.form-content{
  padding: 10px
}

.basic-attributes-wrapper {
  width: 100%;
  padding: 0.3rem;
}
.basic-attribute {
  font-size: 12px;
  line-height: 12px;
}
.title-wrapper {
  float: right;
}
.alert-danger{
  margin-bottom: 20px;
}
