
.form-wrapper {
  padding: 10px
}
.form-content{
  padding: 10px
}

.basic-attributes-wrapper {
  width: 100%
}
.basic-attribute {
  font-size: 12px;
  line-height: 12px;
}
.title-wrapper {
  margin-left: 10px;
}
.alert-danger{
  margin-bottom: 20px;
}
