<table class="table table-hover table-bordered table-striped">
  <tbody>
    <tr>
      <th width="150px">Операция</th>
      <td class="wrap">
        {{ adapter.interface }}.{{ operationDetail.fullName }}
      </td>
    </tr>
  </tbody>
</table>

<div class="tabs-wrapper">
  <igx-card class="register-wrapper" igxFlex>
    <div class="card-title">Заявка</div>
    <app-operation-description
    [adapter]="adapter"
    [operation]="operationDetail"
    [operationType]="OPERATION_REQUEST"
  ></app-operation-description>
  </igx-card>
  <igx-card class="register-wrapper" igxFlex>
    <div class="card-title">Отговор</div>
    <app-operation-description
      [adapter]="adapter"
      [operation]="operationDetail"
      [operationType]="OPERATION_RESPONSE"
    ></app-operation-description>
  </igx-card>
</div>

