<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SimevAspServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://custdevbg.a-consult.bg:8180/simevsoa/soap/SimevAsp"
                binding="basicHttpBinding" bindingConfiguration="SimevAspServiceSoapBinding"
                contract="SimevAspServiceReference.SimevAspService" name="SimevAspServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>