<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="NrgsConnectionString" connectionString="Data Source=regix2-sql.regix.tlogica.com;Initial Catalog=grao;Persist Security Info=True;User id=;password=" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="DefaultBehaviour">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
                    <!--Forbid metadata discovery-->
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="True" />
                </behavior>
            <behavior name="SSLBehavior">
				      <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
				      <serviceDebug includeExceptionDetailInFaults="true" />
				      <serviceCredentials>
					    <clientCertificate>
					      <authentication certificateValidationMode="None" />
					    </clientCertificate>
				      </serviceCredentials>
				      <dataContractSerializer maxItemsInObjectGraph="2147483647" />
				    </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="DefaultEndpointBehaviour">
                    <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
                </behavior>
                <behavior name="RestEndpointBehavior">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultBinding"
                         closeTimeout="00:01:00"
                         openTimeout="00:01:00"
                         receiveTimeout="00:10:00"
                         sendTimeout="00:10:00"
                         transferMode="StreamedResponse"
                         maxReceivedMessageSize="26214400"
                         maxBufferSize="26214400">
                    <readerQuotas maxDepth="256"
                                  maxStringContentLength="2147483647"
                                  maxArrayLength="2147483647"
                                  maxBytesPerRead="2147483647"
                                  maxNameTableCharCount="2147483647"/>
                </binding>
                <binding name="SSLBinding"
                             closeTimeout="00:01:00"
                             openTimeout="00:01:00"
                             receiveTimeout="00:10:00"
                             sendTimeout="00:10:00"
                             transferMode="StreamedResponse"
                             maxReceivedMessageSize="26214400"
                             maxBufferSize="26214400">
                        <readerQuotas maxDepth="256"
                                      maxStringContentLength="2147483647"
                                      maxArrayLength="2147483647"
                                      maxBytesPerRead="2147483647"
                                      maxNameTableCharCount="2147483647"/>
				       <security mode="Transport">
					      <transport clientCredentialType="Certificate"></transport>
				        </security>
				      </binding>
            </basicHttpBinding>
            <webHttpBinding>
                <binding name="WebHttpBindingConfiguration"
                         closeTimeout="00:01:00"
                         openTimeout="00:01:00"
                         receiveTimeout="00:10:00"
                         sendTimeout="00:10:00"
                         transferMode="StreamedResponse"
                         maxReceivedMessageSize="26214400"
                         maxBufferSize="26214400">
                    <readerQuotas maxDepth="256"
                                  maxStringContentLength="2147483647"
                                  maxArrayLength="2147483647"
                                  maxBytesPerRead="2147483647"
                                  maxNameTableCharCount="2147483647"/>
                </binding>
            </webHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="DefaultBehaviour" name="TechnoLogica.RegiX.GraoCivilStatusActsAdapter.AdapterService.GraoCivilStatusActsAdapter">
                <endpoint
                    name="IGraoCivilStatusActsAdapter"
                    address=""
                    binding="basicHttpBinding"
                    bindingConfiguration="DefaultBinding"
                    behaviorConfiguration="DefaultEndpointBehaviour"
                    contract="TechnoLogica.RegiX.GraoCivilStatusActsAdapter.AdapterService.IGraoCivilStatusActsAdapter">
                </endpoint>
            </service>
        </services>
    </system.serviceModel>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="5120KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelToMatch value="INFO" />
        <acceptOnMatch value="true" />
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="WarnAppender" type="log4net.Appender.RollingFileAppender">
      <file value="success_log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="5120KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelToMatch value="WARN" />
        <acceptOnMatch value="true" />
        <levelMin value="WARN" />
        <levelMax value="WARN" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="ErrorsAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log_errors.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="5120KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="ExtendedInfoAdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="500" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelToMatch value="WARN" />
        <acceptOnMatch value="true" />
        <levelMin value="WARN" />
        <levelMax value="WARN" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!-- При проблем с връзката към базата, трябва да се преправи connection string-->
      <connectionString  value="data source=REGIX2-sql.regix.tlogica.com;initial catalog=grao;user id=;password=;" />
      <!-- Параметризирана SQL заявка, при нужда трябва да се промени името на таблицата от базата-->
      <commandText value="INSERT INTO SuccessRequests([Date],[UserNames],[UserIp],[UserEgn],[Service],[Method],[TargetEgn],[OtherParameters],[CallId],[OrganizationUnit]) VALUES (@Date,@UserNames,@UserIp,@UserEgn, @Service, @Method, @TargetEgn, @OtherParameters,@CallId, @OrganizationUnit)" />
      <parameter>
        <parameterName value="@Date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter type="TechnoLogica.RegiX.GraoCommon.User, RegiX.GraoCommon">
        <parameterName value="@UserNames" />
        <dbType value="String" />
        <size value="500" />
      </parameter>
      <parameter type="TechnoLogica.RegiX.GraoCommon.UserIp, RegiX.GraoCommon">
        <parameterName value="@UserIp" />
        <dbType value="String" />
        <size value="500" />
      </parameter>
      <parameter type="TechnoLogica.RegiX.GraoCommon.UserEgn, RegiX.GraoCommon">
        <parameterName value="@UserEgn" />
        <dbType value="String" />
        <size value="500" />
      </parameter>
      <parameter type="TechnoLogica.RegiX.GraoCommon.Service, RegiX.GraoCommon">
        <parameterName value="@Service" />
        <dbType value="String" />
        <size value="500" />
      </parameter>
      <parameter type="TechnoLogica.RegiX.GraoCommon.Method, RegiX.GraoCommon">
        <parameterName value="@Method" />
        <dbType value="String" />
        <size value="500" />
      </parameter>
      <parameter type="TechnoLogica.RegiX.GraoCommon.TargetEgn, RegiX.GraoCommon">
        <parameterName value="@TargetEgn" />
        <dbType value="String" />
        <size value="500" />
      </parameter>
      <parameter type="TechnoLogica.RegiX.GraoCommon.OtherParameters, RegiX.GraoCommon">
        <parameterName value="@OtherParameters" />
        <dbType value="String" />
        <size value="500" />
      </parameter>
      <parameter type="TechnoLogica.RegiX.GraoCommon.CallId, RegiX.GraoCommon">
        <parameterName value="@CallId" />
        <dbType value="String" />
        <size value="500" />
      </parameter>
      <parameter type="TechnoLogica.RegiX.GraoCommon.OrganizationUnit, RegiX.GraoCommon">
        <parameterName value="@OrganizationUnit" />
        <dbType value="String" />
        <size value="500" />
      </parameter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ErrorsAppender" />
      <appender-ref ref="WarnAppender" />
      <appender-ref ref="ExtendedInfoAdoNetAppender" />
    </root>

  </log4net>

  <appSettings>
    <add key="CertificateFindValue" value="f2 91 ff 61 d4 a2 04 26 d2 11 43 ea 86 57 5f e8 d8 9c 29 a4" />
    <add key="CertificateStoreLocation" value="LocalMachine" />
    <add key="CertificateStoreName" value="My" />
    <add key="CertificateX509FindType" value="FindByThumbprint" />
    <add key="SignResponse" value="false" />
  </appSettings>
  
</configuration>
