<tl-linear-progress
  [visible]="this.remoteService.isLoading"
></tl-linear-progress>
<igx-grid
  #grid
  [data]="items$ | async"
  [paging]="true"
  [height]="null"
  width="100%"
  [displayDensity]="'cosy'"
  (onSortingDone)="sortingDone($event)"
  (onFilteringDone)="filteringDone($event)"
  (onSelection)="cellSelection($event)"
  [paginationTemplate]="pager"
  [allowFiltering]="true"
  [primaryKey]="'id'"
>
  <igx-column field="oldStatus" header="Стар статус" [sortable]="true" [resizable]="true">
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value" class="text-ellipsis">{{
        Status[+cell.value]
      }}</span>
    </ng-template>
  </igx-column>

  <igx-column field="newStatus" header="Нов статус" [sortable]="true" [resizable]="true">
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value" class="text-ellipsis">{{
        Status[+cell.value]
      }}</span>
    </ng-template>
  </igx-column>

  <igx-column
    field="comment"
    header="Коментар"
    [sortable]="true"
    [dataType]="'string'"
    [resizable]="true"
  >
    <ng-template igxCell let-cell="cell">
      <span [title]="cell.value" class="text-ellipsis">{{ cell.value }}</span>
    </ng-template>
  </igx-column>

  <igx-column field="date" header="Дата" [sortable]="true" [dataType]="'date'" [resizable]="true">
    <ng-template igxCell let-cell="cell">
      <span
        title="{{ cell.value | date: 'dd.MM.yyyy HH:mm:ss' }}"
        class="text-ellipsis"
        >{{ cell.value | date: "dd.MM.yyyy HH:mm:ss" }}
      </span>
    </ng-template>
  </igx-column>

  <ng-template #pager let-api>
    <div class="tl-paginator">
      <tl-grid-pager
        [page]="remoteService.pagerParams.page"
        [perPage]="remoteService.pagerParams.perPage"
        [totalCount]="remoteService.pagerParams.totalCount"
        (pagerChange)="pagerChange($event)"
      ></tl-grid-pager>
    </div>
  </ng-template>
</igx-grid>
